<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SuitUpDAO">


	<select id="getCartList" resultType="SuitUpCartVO" parameterType="SuitUpCartVO">
		SELECT * FROM SU_CART WHERE MEM_ID = #{memId}
	</select>
	
	<insert id="insertOrder" parameterType="SuitUpOrderVO">
	
		INSERT INTO SU_ORDER VALUES(
		SU_ORDER_NUM_SEQ.NEXTVAL, #{memId}, ${proNum}, #{dtproSize},#{dtproColor},${orderCount},'주문완료',SYSDATE,
		#{orderAddress}, #{orderReceiver}, #{orderPhone}, #{orderMemo}, ${proPrice}
		)

	</insert>
	
	<delete id="deleteCartList" parameterType="SuitUpCartVO">
		DELETE FROM SU_CART WHERE MEM_ID = #{memId}
	</delete>
</mapper>