<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SuitUpDAO">


	<!-- 카트 리스트 불러오기 -->
	<select id="getCartList" resultType="SuitUpCartVO" parameterType="SuitUpCartVO">
		SELECT * FROM SU_CART WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 주문하기 -->
	<insert id="insertOrder" parameterType="SuitUpOrderVO">
	
		INSERT INTO SU_ORDER VALUES(
		SU_ORDER_NUM_SEQ.NEXTVAL, #{memId}, ${proNum}, #{dtproSize},#{dtproColor},${orderCount},'주문완료',SYSDATE,
		#{orderAddress}, #{orderReceiver}, #{orderPhone}, #{orderMemo}, ${proPrice}, #{proName}
		)

	</insert>

	<!-- 카트 전부 삭제 -->
	<delete id="deleteCartList" parameterType="SuitUpCartVO">
		DELETE FROM SU_CART WHERE MEM_ID = #{memId}
	</delete>
	
	<!-- 카트 한품목 삭제 -->
	<delete id="deleteCart" parameterType="String">
		DELETE FROM SU_CART WHERE CART_NUM = #{cart_num}
	</delete>
	
	<!-- 주문 목록 불러오기 -->
	<select id="orderList" parameterType="SuitUpOrderVO" resultType="SuitUpOrderVO">
		SELECT * FROM SU_ORDER WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 회원 가입 -->
	<insert id="userInsert" parameterType="SuitUpCustomerVO">
		INSERT INTO SU_MEM(MEM_ID,mem_admin,MEM_PASS,MEM_NAME,MEM_ADDR,MEM_PHONE) 
		values(#{memId},0,#{memPass},#{memName},
		<choose>
			<when test="memAddr==null"> 
				null,#{memPhone})
			</when>

			<when test="memPhone==null">
				#{memAddr},null)
			</when>
			
			<otherwise>
				#{memAddr},#{memPhone})			
			</otherwise>
		</choose>
	</insert>  
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="SuitUpCustomerVO" parameterType="SuitUpCustomerVO">
		SELECT * FROM SU_MEM WHERE MEM_ID = #{memId} 
		<if test="memPass != null">
		AND MEM_PASS=#{memPass}
		</if>
	</select>
	
	<!-- 카테고리 목록 불러오기 -->
	<select id="getCategoryList" resultType="SuitUpCategoryVO">
		SELECT * FROM SU_CATE
	</select>
	
</mapper>